.gh-icon-link {
  color: #AAA; }

.btn-pause {
  background-color: #EEE;
  border: solid 3px #DDD;
  border-radius: 5px;
  color: #BBB;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  cursor: pointer;
  height: 45px;
  width: 75px; }
  .btn-pause:hover {
    color: #CCC;
    background-color: #FAFAFA;
    border-color: #EEE; }

#timer-container {
  float: left;
  margin-right: 20px; }
  #timer-container .progress {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #DDD;
    height: 45px;
    width: 300px;
    margin-bottom: 0px; }
    #timer-container .progress .progress-bar {
      box-shadow: 0 0 0 0;
      background-color: #DDD;
      position: relative; }
      #timer-container .progress .progress-bar #timer {
        color: #888;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        position: absolute;
        left: 5px; }

#score-container {
  float: right;
  margin-right: 3px;
  font-size: 45px;
  line-height: 40px; }

#popper-container {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  background: #FAFAFA;
  border: solid 5px #AAA;
  border-radius: 5px;
  overflow: hidden; }
  #popper-container .screwqueue-container {
    height: 30px;
    width: 600px;
    position: absolute;
    color: #888;
    bottom: 20px;
    left: 20px; }
    #popper-container .screwqueue-container .screwqueue-ball {
      width: 15px;
      height: 15px;
      border-radius: 50px;
      display: inline-block;
      margin-right: 5px;
      position: relative;
      border: solid 2px #BBB; }

.popper-shooter {
  width: 50px;
  height: 130px;
  -webkit-transform-origin: 50% 130px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -25px;
  z-index: 10;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 5px #AAA;
  background: #BBB; }

#shooter-base {
  display: none;
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -150px;
  z-index: 20;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 5px #AAA;
  background: #BBB; }

.popper-red {
  background-color: #EBCCD1;
  border-color: #DEA3A3; }

.popper-green {
  background-color: #D6E9C6;
  border-color: #98B799; }

.popper-blue {
  background-color: #BCE8F1;
  border-color: #98C3D7; }

.popper-yellow {
  background-color: #EFEAD0;
  border-color: #DFCDAE; }

#top-container {
  width: 600px;
  text-align: right;
  color: #AAA;
  margin: 0 auto;
  margin-bottom: 20px; }

#shooter-control {
  width: 100%;
  height: 100%;
  background: #EEE;
  position: absolute;
  bottom: 0px; }

#shooter-control-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  z-index: 1000; }

.overlay {
  width: 100%;
  height: 100%;
  background: #BBB;
  opacity: 0.6;
  position: absolute;
  bottom: 0px;
  z-index: 999;
  display: none; }
  .overlay p {
    color: #333;
    text-align: center;
    font-size: 60px;
    margin-top: 200px;
    font-weight: bold; }
  .overlay .btn {
    border-radius: 5px;
    border: solid 5px #0A5F7B;
    font-size: 32px;
    font-weight: 900; }
  .overlay#gameover {
    opacity: 0.8;
    background: #B99;
    z-index: 1010; }
    .overlay#gameover p {
      color: #300; }
  .overlay#victory {
    opacity: 0.8;
    background: #CBEED8;
    z-index: 1010; }
  .overlay#startscreen {
    opacity: 0.9;
    display: block;
    z-index: 1001; }
    .overlay#startscreen p {
      margin-top: 50px;
      font-size: 32px;
      font-weight: 600;
      margin-left: 40px;
      margin-right: 40px; }

#notice-overlay {
  background: transparent;
  color: #888;
  opacity: 0.6;
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
  z-index: 999;
  display: none;
  font-size: 48px;
  font-weight: bold; }

.point {
  display: none;
  /*background: #BBB; */
  border-radius: 50px;
  position: absolute;
  z-index: 5;
  border-style: solid;
  color: transparent;
  line-height: 40px;
  font-size: 12px;
  text-align: center; }

#debug {
  font-size: 14px;
  font-family: "consolas", "courier new"; }
